.service{
    &-card{
        &__header{
            &__top{
                position: relative;
                color: $color-white;
                background-color: $color-white;
                background-image: url('../images/services/service-image-bg.png');
                padding-top: toRem(145);
                background-size: contain;
                background-repeat: no-repeat;

                &::after{
                    $size: toRem(15);
                    content: "";
                    position: absolute;
                    bottom: -$size;
                    left: 50%;
                    transform: translateX(-50%);
                    border-top: $size solid $color-white;
                    border-left: $size solid transparent;
                    border-right: $size solid transparent;
                    z-index: 1;
                }
            }

            &__sub-title{
                font-size: toRem(26);
                font-weight: 900;
            }

            &__figure{
                position: relative;
                padding-top: 100%;
                overflow: hidden;
                background-color: $color-primary;

                &__image{
                    @extend %full-width;
                    @extend %transition;
                }
            }
        }

        &__body{
            padding: toRem(30) toRem(15);
            background-image: url('../images/icons/bg-pattern.jpg');
            background-repeat: repeat;

            &__title{
                font-size: toRem(26);
                font-weight: 700;
            }

            &__texr{
                font-size: toRem(14);

                a{
                    color: $color-primary;
                }
            }
        }

        &:hover
        {
            .service-card__header__figure__image{
                transform: scale(1.1) rotate(1deg);
            }
        }
    }
}