// SCSS Variable's

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-tertiary: 'Roboto Condensed', sans-serif;

$color-primary:#6FC05B;
$color-secondary:#A4CF59;
$color-black:#000000;
$color-white:#ffffff;