// SCSS Variable's

$font-primary: 'Source Sans Pro', sans-serif;

$color-primary:#6FC05B;
$color-secondary:#A4CF59;
$color-danger:red;

$color-title:#1b1b1b;
$color-text:#5e5e5e;

$color-black:#000000;
$color-white:#ffffff;