/* Common Button's Style */
.primary-btn{
	display: inline-block;
	color: $color-white;
	font-size: toRem(20);
	font-family: $font-primary;
	font-weight: 600;
	padding: toRem(12) toRem(35);
	background-color: $color-primary;
	@extend %transition;

	&:hover, 
	&:focus{
		color: $color-white;
		background-color: $color-secondary;
	}
}

.scroll-top{
	bottom: 15px;
	right: 15px;
	display: none;
	cursor: pointer;
	z-index: 7;
	&__btn{
		width: toRem(30);
		height: toRem(30);
		font-size: 1.1rem;
		color: $color-white;
		background: $color-primary;
	}
}